{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react"
  ],
  "plugins": ["preval"],

  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": ["env", "react"]
    }
  }
}
